<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Movie Seach App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<style>
    body{
        background-color: black;
        color: white;
    }
</style>
<body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container">
                <div class="btn btn-outline-danger navbar-brand pr-2 mr-5" ><i class="fas fa-film fa-2x"></i> Movie Seach App</div>
                <ul class="navbar-nav mr-auto">
                    <a class="btn btn-outline-warning nav-link mr-2" href="/">Home</a>
                    <a class="btn btn-outline-warning nav-link" href="/about">About</a>
                </ul>
            </div>
        </nav>
    
